<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
  <appSettings>
    <add key="url" value="https://suplementy.pl/"/>
    <add key="url2" value="https://pl.aliexpress.com/"/>
    <add key="username" value="email@gmail.com"/>
    <add key="password" value="haslo"/>
  </appSettings>
</configuration>